{% extends "base.html" %}

{% block content %}
<h2>ログイン</h2>
<div class="login-container">
    <div class="tab-buttons">
        <button id="login-tab" class="active">ログイン</button>
        <button id="register-tab">新規登録</button>
    </div>

    <form id="login-form" method="post" action="{{ url_for('auth.login')}}">
        <input type="email" placeholder="Email" id="login-email" name="email" required>
        <input type="password" placeholder="Password" id="login-password" name="password" required>
        <div class="button-area">
            <button type="submit">ログイン</button>
        </div>
    </form>

    <form id="register-form" method="post" action="{{ url_for('auth.register')}}">
        <input type="text" placeholder="Username" name="username" required>
        <input type="email" placeholder="Email" id="register-email" name="email" required>
        <input type="password" placeholder="Password" id="registerpassword" name="password" required>
        <div class="button-area">
            <button type="submit">新規登録</button>
        </div>
    </form>
</div>
{% endblock %}