{% extends "base.html" %}

{% block content %}
<h2>ログイン</h2>
<div class="login-container">

    <form id="login-form" method="post" action="{{ url_for('auth.login')}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <input type="email" placeholder="Email" id="login-email" name="email" required>
        <input type="password" placeholder="Password" id="login-password" name="password" required>
        <div class="button-area1">
            <button type="submit">ログイン</button>
        </div>
    </form>

    <p class="auth-switch">
        アカウントをお持ちでない方は
        <a href="{{ url_for('auth.register') }}">新規登録</a>
    </p>

</div>

{% endblock %}