{% extends "base.html" %}

{% block content %}
<h2>ログイン</h2>
<div class="login-container">
    <form method="post" action="{{ url_for('auth.login')}}">
        <div class="login-form">
            <input type="email" placeholder="Email" id="email" name="email" required>
        </div>
        
        <div class="login-form">
            <input type="password" placeholder="Password" id="password" name="password" required>
        </div>
        <div class="button-area">
            <button type="submit">ログイン</button>
        </div>
    </form>

    <p>アカウントをお持ちでない方はこちら</p>

    <div class="button-area">
        <a href="{{ url_for('auth.register') }}">新規登録</a>
    </div>
</div>
{% endblock %}