<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Pack Comp{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <body>
        <header>
            <h1><a href="{{ url_for('main.top')}}">Pack Comp</a></h1>
            {% if current_user.is_authenticated %}
                <div class="button-area1">
                    <a href="{{ url_for('auth.logout') }}" class="logout-btn">ログアウト</a>
                </div>
            {% endif %}
        </header>

        <ul class="flash-messages">
            {% for category, message in get_flashed_messages(with_categories=True) %}
                <li class="flash-{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>© 2025 Pack Comp</p>
            <div class="footer-links">
                <a href="{{ url_for('main.terms') }}">利用規約</a> | 
                <a href="{{ url_for('main.privacy') }}">プライバシーポリシー</a> | 
                <a href="{{ url_for('main.contact') }}">お問い合わせ</a>
            </div>
        </footer>

        {# Lucidスクリプト読み込み #}
        <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.min.js"></script>
        
        <script>
        // Lucidアイコン描画
            lucide.createIcons();
        </script>
        
        <script>
            // ページ読み込み後にflashを自動で消す
            window.addEventListener('DOMContentLoaded', () => {
                const flashes = document.querySelectorAll('.flash-messages li');
                flashes.forEach(flash => {
                setTimeout(() => {
                    flash.style.transition = 'opacity 0.5s';
                    flash.style.opacity = 0;
                    setTimeout(() => flash.remove(), 500); // フェード後に削除
                }, 3000); // 3秒後に消える
                });
            });
        </script>
    </body>
</html>