<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Pack Comp{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <body>
        <header>
            <h1><a href="{{ url_for('main.top')}}">Pack Comp</a></h1>
        </header>

        <ul class="flash-messages">
            {% for category, message in get_flashed_messages(with_categories=True) %}
                <li class="flash-{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>© 2025 Pack Comp</p>
            <div class="footer-links">
                <a href="{{ url_for('main.terms') }}">利用規約</a> | 
                <a href="{{ url_for('main.privacy') }}">プライバシーポリシー</a> | 
                <a href="{{ url_for('main.contact') }}">お問い合わせ</a>
            </div>
        </footer>
    </body>
</html>