{% extends "base.html" %}

{% block title %}ユーザー追加アイテムリスト{% endblock %}

{% block content %}
<h2>{{ current_user.user_name }}の追加アイテムリスト</h2>

<div class="custom-container">
    <form method="POST" action="{{ url_for('main.add_custom_to_travel', travel_id=travel.id) }}">
    {% for category in category_order %}
        {% set items = custom_items_category.get(category, []) %}
        {% if items %}
        <div class="custom-category-block">
            <h4>{{ category }}</h4>
            {% for item in items %}
            <div class="custom-item-row" data-delete-url="{{ url_for('main.delete_custom_item', travel_id=travel.id, item_id=item.id) }}">
                <input type="checkbox" name="custom_item_ids" value="{{ item.id }}">
                {{ item.name }}
                <button type="button" class="delete-btn">削除</button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endfor %}
        <div class="button-area1">
            <button type="submit" class="bulk-add-btn">選択したアイテムを追加</button>
        </div>
    </form>
</div>

{% if custom_items_category|length == 0 %}
    <p>まだカスタムアイテムはありません。</p>
{% endif %}

<br>

<div class="button-area1">
    <a href="{{ url_for('main.new_custom_item', travel_id=travel.id) }}">アイテムを作成</a>
</div>

<div class="back-btn">
    <div class="button-area1">
        <a href="{{ url_for('main.items', travel_id=travel.id) }}">持ち物リストへ戻る</a>
    </div>
</div>

<script>
    document.querySelectorAll(".custom-item-row").forEach(row => {
        const deleteBtn = row.querySelector(".delete-btn");

        deleteBtn.addEventListener("click", () => {
            if(!confirm("本当に削除しますか？")) return;

        fetch(row.dataset.deleteUrl, {
            method: "POST",
        })
        .then(res => {
            if(res.ok) {
                const categoryBlock = row.closest(".custom-category-block");
                row.remove();

                // そのカテゴリに残りのアイテムがあるかチェック
                    if (categoryBlock.querySelectorAll(".custom-item-row").length === 0) {
                        // h4（カテゴリタイトル）も削除
                        const h4 = categoryBlock.querySelector("h4");
                        if (h4) h4.remove();
                        // 空の div も削除（必要なら）
                        categoryBlock.remove();
                    }  
            } else {
                alert("削除できませんでした");
            }
        })
        .catch(() => alert("通信エラー"));
        })
    });
</script>

{% endblock %}