{% extends "base.html" %}

{% block title %}アイテム追加フォーム{% endblock %}

{% block content %}
<h2>アイテムを追加</h2>
<form method="POST" action="{{ url_for('main.new_custom_item') }}" enctype="multipart/form-data">
    <label>アイテム名 <br><input type="text" name="name"></label><br>
   <label>カテゴリー <br>
        <select name="category">
            {% for c in categories %}
            <option value="{{ c }}">{{ c }}</option>
            {% endfor %}
        </select>
    </label><br>
    <label>画像 <br><input type="file" name="image" accept="image/*"></label><br>
    <label>メモ <br><input type="text" name="note"></label><br>
</form>

<div class="button-area2">
    <button type="submit">リストへ追加</button>
</div>
{% endblock %}