{% extends "base.html" %}

{% block title %}Pack Compへようこそ!{% endblock %}

{% block content %}
<h2>旅行準備をもっとスマートに</h2>
<div class.="illustration">
    <img src="{{ url_for('static', filename='images/travel_illustration.png') }}">
</div>

<p class="agreement-text">
    下記ボタンを選択することで、本サービスの利用規約および<br>
    プライバシーポリシーに同意したことになります。
</p>

<div class="button-area">
    <a href="{{ url_for('auth.login')}}" class="login-btn">新規登録/ログインして使う</a>
    <a href="{{ url_for('main.new_travel') }}" class="guest-btn">ゲストで試す</a>
</div>

{% endblock %}
