{% extends "base.html" %}

{% block title %}旅行一覧{% endblock %}

{% block content %}
<div class="travel_container">
    {% for travel in travels %}
    <div class="travel_card">
        <a href="{{ url_for('main.items', travel_id=travel.id) }}" class="card-link"></a>

        <!-- 削除ボタン（右上） -->
        <form action="{{ url_for('main.delete_travel', travel_id=travel.id) }}" method="POST">
            <button type="submit" class="delete-travel-btn" onclick="return confirm('本当に削除しますか？')">
                <i data-lucide="trash-2"></i>
            </button>
        </form>

        <h3>{{ travel.title }}</h3>
        <div class="travel_image"
            style="background-image: url(\'{{ url_for('static', filename='images/sample.jpg') }}\');">
        </div>
        <p>{{ travel.departure_date }} 〜 {{ travel.return_date }}</p>

    </div>
    {% endfor %}
</div>

<div class="button-area1">
    <a href="{{ url_for('main.new_travel') }}" class="btn_create">新しい旅行を登録する</a>
</div>

{% endblock %}