{% extends "base.html" %}

{% block title %}旅行一覧{% endblock %}

{% block content %}
<div class="travel_container">
    {% for travel in travels %}
    <div class="travel_card">
        <h3>{{ travel.title }}</h3>
        <div class="travel_image"
            style="background-image: url(\'{{ url_for('static', filename='images/sample.jpg') }}\');">
        </div>
        <p>{{ travel.departure_date }} 〜 {{ travel.return_date }}</p>
        <a href="{{ url_for('main.items', travel_id=travel.id) }}" class="btn">持ち物リストを見る</a>
    </div>
    {% endfor %}
</div>

<div class="button-area2">
    <a href="{{ url_for('main.new_travel') }}" class="btn_create">新しい旅行を登録する</a>
</div>
{% endblock %}